<launch>
	<!--launch file -->
	

	<node pkg="robot" type="robot_node" name="robot_node" output ="screen">
		<param name="use_imu" value="0" />
		<param name="use_line" value="0" />
		<param name="use_motors" value="0" />
		<param name="use_tof" value="0" />
		<param name="use_MPU" value="1" />
	</node>

</launch>
